// ============== Color Start ============== //
// commonColor
$PrimaryColor:#ff5757;
$SecenderyColor:#3d444e;
$ColorWhite:#fff;
$ColorBlack:#000;
// textColor
$ColorText1:#a3a3a3;
$ColorText2:#878A99;
$ColorText3:#0C192C;
// bgColor
$ColorBg1:#e6ecf2;
$ColorBg2:#111926;
$ColorBg3:#222836;
$ColorBg4:#FAFAFA;
$ColorBg5:#F3F6F9;
// borderColor
$ColorBorder1:rgb(245, 245, 245);
$ColorBorder2:#e9ebce;
// Border Radius 
$BorderRadiusPrimary: 5px;
// ============== Color End ============== //

// ============== Basic CSS Start ============== //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;

  li {
    list-style: none;
  }
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: $ColorText1 !important;
}

.section-border-bottom {
  border-bottom: 1px solid $ColorBorder1 !important;
}

.mt-170 {
  margin-top: 170px !important;
}

// ============== Basic CSS End ============== //


// ============== Header CSS Start ============== //

.header-wrap {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);

  .nav-search {
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0px;
      border: 0;
      height: 45px;
      width: 70px;
      font-size: 22px;
      color: $ColorWhite;
      background: $PrimaryColor;
      border-radius: 0 5px 5px 0;
    }

    input {
      border: 0;
      height: 45px;
      width: 500px;
      background: $ColorBg1;
      padding: 20px;

      &:focus {
        box-shadow: none !important;
        background: $ColorBg1;
      }
    }


  }
}


.header-search {
  width: 100%;
}

.nav-end i {
  font-size: 22px;
  color: $SecenderyColor;
}

.nav-link span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $SecenderyColor;
}

.header-nav {
  padding: 0;

  li {
    list-style: none;
    float: left;
    margin-right: 30px;

    a {
      text-decoration: none;
      color: $SecenderyColor;
      display: flex;
      align-items: center;
      transition: .3s;
      font-weight: 600;
    }

    :hover {
      transition: .3s;
      color: $PrimaryColor;
    }

    i {
      margin-right: 5px;
      font-size: 22px;
      font-weight: normal;
    }
  }
}

// ============== Header CSS End ============== //

// ============== Footer CSS Start ============== //
.footer-top {
  background-color: $ColorBg2;
  color: $ColorWhite;

  .footer-title {
    margin-bottom: 25px;

    h4 {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .footer-widget {
    p {
      line-height: 27px;
      text-transform: capitalize;
      font-size: 14px;
    }

    ul li a {
      margin-bottom: 7px;
      color: $ColorWhite;
      display: block;
      font-size: 14px;
    }
  }

}

.footer-bottom {
  background-color: $ColorBg3;
  text-align: center;
  color: $ColorText1;
  font-size: 14px;
}

// ============== Footer CSS End ============== //

// ============== Error CSS Start ============== //

.error-wrap {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;

  h1 {
    color: $PrimaryColor;
    font-size: 90px;
    font-weight: 800;
  }

  h2 {
    text-transform: capitalize;
    line-height: 50px;
    color: $SecenderyColor;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    background: $PrimaryColor;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 40px;
    border-radius: $BorderRadiusPrimary;
    color: $ColorWhite;
    transition: .3s;

    &:hover {
      background-color: $SecenderyColor;
      transition: .3s;
    }
  }
}


// ============== Error CSS End ============== //

// ============== Slider CSS Start ============== //
.slider-item {
  margin-bottom: 20px;
  border-radius: $BorderRadiusPrimary;
}

.slider-item img {
  border-radius: $BorderRadiusPrimary;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, $PrimaryColor) !important;
}

// ============== Slider CSS End ============== //

// ============== Layout CSS Start ============== //
.left-sidebar {
  padding: 15px;
  background: $ColorBg4;
  border-radius: $BorderRadiusPrimary;
  position: sticky;
  top: 170px;
}

.products-wrap {
  border-radius: $BorderRadiusPrimary;

  .product-single-item {
    border: 1px solid $ColorBorder2;
    border-radius: 5px;
    margin-bottom: 20px;

    &:hover .product-image button {
      opacity: 1;
      transition: .3s;
    }

    &:hover .product-option {
      opacity: 1;
      transition: .4s;
    }
  }

  .product-image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
    position: relative;

    .product-option {
      display: flex;
      justify-content: end;
      flex-direction: column;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      opacity: 0;
      transition: .4s;

      button {
        margin-bottom: 10px;
        border: 0;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: $PrimaryColor;
        color: $ColorWhite;

        &:first-child {
          background-color: #3876DF !important;
        }

        &:last-child {
          background-color: #06d6a0;
        }
      }
    }

    .addtocart-btn {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      border: 0;
      background: $PrimaryColor;
      height: 30px;
      padding: 0 11px;
      width: 80%;
      text-align: center !important;
      justify-content: center;
      border-radius: 5px;
      transition: .3s;
      color: $ColorWhite;
      font-size: 15px;
      opacity: 0;
    }

  }

  .product-single-item h3 {
    font-size: 18px;
    margin-bottom: 10px !important;
    color: $ColorBlack;
  }

  .item-price {
    font-weight: 600;
  }

  .item-details-content {
    p {
      del {
        font-size: 12px;
        font-weight: 500;
        color: $ColorText2;
      }
    }

    .item-review-count {
      font-size: 12px;
      font-weight: 500;
      color: $ColorText3;
      display: flex;
      align-items: center;

      i {
        margin-left: 5px;
        color: gold;
      }
    }
  }

}

.filter-header {
  background: $ColorBg4;
  border-radius: $BorderRadiusPrimary;
  padding: 15px;
  margin-bottom: 20px;

  p {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.form-check-label {
  font-size: 15px;
  text-transform: uppercase !important;
}

.form-check-label.text-lowercase {
  text-transform: uppercase !important;
}

// ============== Layout CSS End ============== //

// ============== Category CSS Start ============== //
.page-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px !important;
}

.category-item {
  display: flex;
  flex-wrap: wrap;

  a {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid $ColorBorder2;
    color: $ColorText3;
    font-weight: 500;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    transition: .3s;

    &:hover {
      background-color: $PrimaryColor;
      color: $ColorWhite;
      transition: .3s;
      border-color: $PrimaryColor !important;
    }
  }

}

// ============== Category CSS End ============== //

// ============== Widget CSS Start ============== //

.category-wrap h4 {
  font-size: 18px;
  margin-bottom: 15px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.form-check {
  margin-bottom: 10px !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.form-check label {
  cursor: pointer;
}

.form-check input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.form-check input:focus {
  box-shadow: none !important;
  border-color: #DEE2E6;
}

.form-check-input:checked {
  background-color: $PrimaryColor !important;
  border-color: $PrimaryColor !important;
}

// ============== Widget CSS End ============== //