/* Base CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
}

/* Header CSS  */
.header-wrap {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.nav-search {
  position: relative;
}

.nav-search button {
  position: absolute;
  top: 0;
  right: 0px;
  border: 0;
  height: 45px;
  width: 70px;
  font-size: 22px;
  color: #fff;
  background: #ff5757;
  border-radius: 0 5px 5px 0;
}

.nav-search input {
  border: 0;
  height: 45px;
  width: 500px;
  background: #e6ecf2;
  padding: 20px;
}

.nav-search input:focus {
  box-shadow: none !important;
  background: #e6ecf2;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a3a3a3 !important;
}

.header-search {
  width: 100%;
}

.nav-end i {
  font-size: 22px;
  color: #3d444e;
}

.nav-link span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3d444e;
}

.section-border-bottom {
  border-bottom: 1px solid rgb(245, 245, 245) !important;
}

.header-nav {
  padding: 0;
}

.header-nav li {
  list-style: none;
  float: left;
  margin-right: 30px;
}

.header-nav li a {
  text-decoration: none;
  color: #3d444e;
  display: flex;
  align-items: center;
  transition: .3s;
  font-weight: 600;
}

.header-nav li a:hover {
  transition: .3s;
  color: #ff5757;
}

.header-nav li a i {
  margin-right: 5px;
  font-size: 22px;
  font-weight: normal;
}